<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<virtualoptions>
				<active>1</active>
				<model>Speedupmate\VirtualPaymentsPoc\Model\Payment\VirtualOptions</model>
				<order_status>pending</order_status>
				<title>VirtualOptions</title>
				<allowspecific>0</allowspecific>
				<group>offline</group>
			</virtualoptions>
		</payment>
	</default>
</config>
